*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background{  
    background: url(images/background2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;  
}

#home{
    padding-top: 10%;
    padding-left: 10%;
}

.navbar a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}
.navbar .container{
    display: flex;
    justify-content: end;
    padding: 0 30px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    padding: 30px 20px;
}

.click:hover{
    transform: scale(1.15);
    transition: 0.2s;
    text-shadow: 0 5px 5px 0 rgba(94, 93, 93, 0.353);
}
#backI{
    color: rgba(171, 67, 140, 1);
}
b{
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px 15px; 
}

h1{
    color: white;
    font-size: 110px;
    text-shadow: 10px 10px 7px rgb(74, 73, 73);
    font-family: 'Alegreya';
}

h2{
    color: rgb(238, 239, 239);
    font-size: 50px;
    text-shadow: 4px 2px 1px rgb(74, 73, 73);
    font-family:'Karla', sans-serif;
}

h3{
    font-family: 'Alegreya';
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 45px;
    color: #606060;
    font-weight: 80;
}

p{
    margin-top: 10px;
    margin-bottom: 30px;    
}
#sm{
    font-size: 24px;
    color: #606060;
}

.imgSocials{
  align-items: center;
  width: 70px;
  margin-top: 20%; 
}

.imgSocials:hover{
    transform: scale(1.15);
    transition: 0.2s;
}

.socials{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.Be{
    margin-right: 15px;
    margin-left: 15px;
}

#arrow,
#back {
   padding-left: 48.5%; 
}
#h3sm{
    color: rgba(171, 67, 140, 1);  
}
#i{
    color: rgba(171, 67, 140, 1);  
   margin-left: 70%;
}
.columns{
    display: flex;
    margin:8%;
   margin-top: 10px;
  
    
}
.col-1{
    width: 50%;
}
.img1{
    max-width: 90%;
}
.col-2{

    width: 50%;
}
/*projects*/

.projects{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom:6%;
}

.projects .card{
width: 330px;
height: 400px;
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}

.projects .card:hover{
    transform: translateY(-15px);
    box-shadow: 0, 12px, 16px rgba(0, 0, 0, 0.2);
}

.projects .card img{
    width: 330px;
    height: 220px;
}

.projects .card h3{
    font-weight: 600;
    padding: 15px;
    font-family:'Karla';
}

.projects .card a{
    font-weight: 500;
    text-decoration: none;
    color: rgba(171, 67, 140, 1);
}

footer{
    background-color: rgb(179, 84, 150);
    padding: 40px;
    margin-top: 6%;
}
.fr2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  margin-top: 6%; 
}

h5{
    color: white;
    font-size: 14;
    font-family:'Karla';
}

@media (max-width:425px){
   
    #home{
        padding-top: 45%;
    }

    h1{
        font-size: 40px;  
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h2{
        margin:20px;
        font-size: 20px;   
    }
    h3{ 
        font-size: 30px;
    }
    #h3sm{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    
    
    p{
        font-size: 16px;
        padding-left: 2px;
    }
    
    .imgSocials{  
        width: 40px; 
     }    

     #arrow,
     #back 
     {
        padding-left: 45%; 
    }
    
    .projects{ 
        height: 50%;
    }
     .projects .card{     
      padding-top: 2%; 

     }
       
     .columns{
            display: flex;
            flex-direction: column;
            margin-top: 7px;
        }
    .img1{
            max-width: 260px;
        }
    .col-2{
            width: 90%;
        }
     #sm{
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 14px;
        }
     #i{
            margin-top: 2px;
        }
        footer{
            position: absolute;
            bottom: end;
            width: 100%;
        }
     
      .fr2{
        position: fixed;
        bottom: 0;
        width: 100%;
      }
}

@media screen and (min-width:426px) and (max-width:1023px){

    h1{
        font-size: 60px;  
        margin-bottom: 20px;
        margin-top: 40px;
    }

    h2{
        font-size: 35px;
    }
    h3{ 
        font-size: 40px;
    }
    #h3sm{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    
    p{
        font-size: 16px; 
    }


    .imgSocials{ 
      width: 60px;
      margin-top: 100px; 
    }

    #arrow,
    #back{
        padding-left: 48%;
    }
  
    .projects{ 
        height: 50%;
    }

    .fr2{
        position: fixed;
        bottom: 0;
        width: 100%;
      }

        .columns{
            display: flex;
            flex-direction: column;
            margin-top: 7px;
        }
        .col-1{
            width: 80%;
            margin-left: 20%;
            margin-bottom: 10px;
        }
       
        .img1{
            max-width: 340px; 
        }
        #sm{
            font-size: 16px;
            margin-top: 1px;
            margin-bottom: 14px;
        }
       
        .col-2{
            width: 90%;
        }
       }
       @media screen and (min-width:1024px) and (max-width:1439px){
        #arrow,
    #back{
        padding-left: 48%;
    }
    .columns{
        margin-top: 5px;
    }
   #sm{
    font-size: 19px;
    margin-bottom: 14px;
   }
   
    .projects{ 
        height: 50%;
    }
    .fr2{
        position: fixed;
        bottom: 0;
        width: 100%;
      }

       }